# Virtual Environment
venv/
env/
RAG/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Uploaded files
uploads/
*.pdf

# Vector database
*.faiss
*.pkl